<div>
    <h2>Create a New Pet Schedule</h2>
    <form [formGroup]="petScheduleForm" (ngSubmit)="createPetSchedule()">

      <label for="category">Category:</label>
      <input type="text" id="category" formControlName="category">

      <label for="description">Description:</label>
      <input type="text" id="description" formControlName="description">

      <label for="startTime">Start Time:</label>
      <input type="time" id="startTime" formControlName="startTime">

      <div formGroupName="frequency">
        <label for="frequencyHours">Frequency Interval (hours):</label>
        <input type="number" id="frequencyHours" formControlName="hours">
  
        <label for="frequencyMinutes">Frequency Interval (minutes):</label>
        <input type="number" id="frequencyMinutes" formControlName="minutes">
      </div>
      
      <label for="active">Active:</label>
      <input type="checkbox" id="active" formControlName="active">

      <button type="submit">Create Pet Schedule</button>
    </form>
  </div>
  